.help-block {
    color: red;
}
.Register {
    .form-control{
        font-size: 1.1em;
        line-height: 2em;
    }
    .register-button{
        width:428px;
        font-size: 1.1em;
        line-height: 1.5em;
    }
}